* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #000;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #000;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}

.flex-wrapper {
	display: flex;
	justify-content: space-between;
}
@font-face {
    font-family: 'GT-Eesti1';
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti2';
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti3';
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti4';
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}
::placeholder {
  color: #9B9B9B;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9B9B9B;
}

::-ms-input-placeholder {
  color: #9B9B9B;
}

#main_page { 
    display: flex;
    justify-content: space-between;
}

#main_page .left { 
    width: 40%;
    background-color: #ff7e6b;
    
}

#main_page { 
    height: 100vh;
}

#main_page .home { 
    display: flex;
    justify-content: space-between;
    
}

#main_page .home .left { 
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#main_page .home .left .file_upload { 
    animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    width: 70%;
}

#main_page .home .left .file_upload h1 { 
    font-size: 25px;
    color: #fff;
    margin:  10px 0px;
}
#main_page .home .left .file_upload h2 { 
    font-size: 17px;
    color: #fff;
    margin:  0px 0px 25px 0px;
    opacity: 0.5;
}
#main_page .home .left .file_upload form { 
    
}

#main_page .home .left .file_upload form .name { 
    background-color: #fff;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 15px;
}
#main_page .home .left .file_upload form .name label { 
    font-size: 20px;
}
#main_page .home .left .file_upload form .name input { 
    font-size: 20px;
}
#main_page .home .left .file_upload form .email_input { 
    background-color: #fff;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 15px;
}

#main_page .home .left .file_upload form .email_input label { 
    font-size: 20px;
}
#main_page .home .left .file_upload form .email_input input { 
    font-size: 20px;
}

#main_page .home .left .file_upload .file_upload { 
    margin:  25px 0px;
    color: #fff;
    font-size: 18px;
}

#main_page .home .left .file_upload .submit_button { 
    border: 3px solid #000;
    padding: 15px ;
    border-radius: 50px;
    text-align: center;
   
}

#main_page .home .left .file_upload .submit_button input { 
    font-size: 25px;
    color: #fff;
}

#main_page .home .right { 
    width: 60%;
}

#main_page .home .right div { 
    width: 75%;
    margin-left: 100px;
}

#main_page .home .right div img { 
    display: block;
    width: 100%;
    
}
@keyframes slide-bottom {
    0% {
        transform: translatex(-500px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

header { 
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #ff7e6b;
}

header h1 { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-family: 'GT-Eesti1';
    font-size: 30px;
    
}


header h1 .logo { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
}

header h1 .logo img {
    display: block;
    width: 100%; 
    
}

header .search { 
    width: 35%;
    border: 2px solid #000;
    border-radius: 10px ;
    
}
header .search div{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
header .search div {
    width: 50px;
}
header .search div img{ 
    display: block;
    width: 100%;
}

header .search div input {
    font-size: 20px;
    margin-left: 25px;
    color: #000;
    &::placeholder { 
        color: #000; 
}
}

header nav { 
    display: flex;
    justify-content: space-between;
}

header nav ul { 
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li:last-child { 
    margin-left: 35px;
}

header nav ul li a { 
    display: block;
    font-family: 'GT-Eesti1';
    font-size: 20px;
}
header nav ul li a:hover { 
    color: #000;
    font-family: 'GT-Eesti3';
}
header nav ul li a img {
    display: block;
    width: 100%;
    border-radius: 50px;
}
header div ul li a { 
    display: block;
    width: 50px;
    font-size: 25px;
}


#contact { 
    width: 100%;
    display: flex;
    justify-content: space-between;

}
#contact .contact_table { 
    width: 65%;
    padding: 25px 50px;
}
#contact .contact_table h1 { 
    font-size: 25px;
    padding: 25px 50px;
}

#contact .contact_table .heading { 
    
}

#contact .contact_table .heading ul { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
#contact .contact_table .heading ul:hover {
    background-color: #f5f5f5;
    border-radius: 15px;
    cursor: pointer;
}
#contact .contact_table .heading ul.head:hover {
    background-color: #fff;
}
#contact .contact_table .heading div.line {
    border-bottom: 1px solid #c4c7c5;
    margin: 0px 15px;

}
#contact .contact_table .heading ul li { 
    width: 40%;
    text-align: left;
    margin-left: 100px;
}
#contact .contact_table .heading ul li div{ 
    display: flex;
    justify-content: left;
    align-items: center;
}

#contact .contact_table .heading ul li div img{ 
    display: block;
    width: 15%;
    margin-right: 25px;
    border-radius: 30px;
}

#contact .contact_table .heading ul li a { 
    font-size: 18px;
    font-family: 'GT-Eesti1';
}   
#contact .contact_table .heading ul.head { 
   
}
#contact .contact_table .heading ul.head li { 
   
}
#contact .contact_table .heading ul.head li a{ 
    font-size: 23px;
    font-family: 'GT-Eesti2';
    color: #c4c7c5;
}
#right_side { 
    width: 40%;
    text-align: center;
    padding: 100px 35px;
    position: fixed;
    top: 70px;
    right: 25px;
    width: 35%;
}

#right_side .profile { 
    width: 35%;
    margin: 0px auto;
}

#right_side .profile img { 
    display: block;
    width: 100%;
    border-radius: 100px;
}

#right_side h2 { 
    font-size: 25px;
    margin: 15px 09;
}

#right_side .info h3 { 
    font-size: 20px;
    margin-right: 70%;
}

#right_side .info { 
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 30px 20px ;
    margin-top: 20px;
    color: #9B9B9B;
    font-family: 'GT-Eesti1';
}

#right_side .info .phone_number { 
    
}

#right_side .info .phone_number .Phone_icon { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 30px;
}

#right_side .info .phone_number .Phone_icon a { 
    
}

#right_side .info .phone_number .Phone_icon a img { 
    

}

#right_side .info .phone_number .Phone_icon h5 { 
    font-size: 20px;
    color: #000;
    font-family: 'GT-Eesti2';
}

#right_side .info .phone_number .Phone_icon .message_icon { 

}

#right_side .info .phone_number .Phone_icon .message_icon a { 

}

#right_side .info .phone_number .Phone_icon .message_icon a img { 

}

#right_side .info .email { 
    
}

#right_side .info .email .emial_icon { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 30px;
}

#right_side .info .email .emial_icon a { 
    width: 30px;
   display: block;
}

#right_side .info .email .emial_icon a img { 
    display: block;
    width: 100%;
}

#right_side .info .email .emial_icon h5 { 
    font-size: 20px;
    color: #000;
    font-family: 'GT-Eesti2';

}

#right_side .info .email .emial_icon .mail_icon { 

}

#right_side .info .email .emial_icon .mail_icon a { 
    width: 30px;
}

#right_side .info .email .emial_icon .mail_icon a img { 
    display: block;
    width: 100%;
}