<!DOCTYPE html>
    <html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <title>{{title}}</title>
    </head>
    <body>
        <section id="main_page">
            <section class="home">
                <section class="left">
                    <div class="file_upload">
                        <h1>please upload your contacts file </h1>
                        <h2>(  file should be in .xlsx format and <br> should contain Name ,Phone and Email columns <br>in order )
                        </h2>
                        <form id="Upload_file" method="post" action="{% url 'web:index' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="file_upload">
                                <label for="myfile">File:</label>
                                <input type="file" id="myfile" name="myfile">
                            </div>
                            <div class="submit_button">
                                <input type="submit" value="upload">
                            </div>
                        </form>
                    </div>
                </section>
                <section class="right">
                    <div>
                        <img src="{% static 'images/home.jpg'%}" alt="">
                    </div>
                </section>
            </section>
        </section>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </body>
</html>
