<!DOCTYPE html>
    <html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <title>{{title}}</title>
    </head>
    <body>
        <section id="main_page">
            <section class="home">
                <section class="left">
                    <div class="file_upload">
                        <h1>please upload your contacts file </h1>
                        <div class="email_input">
                            <label for="email" >
                                <img src="{% static 'images/email.png'%}" alt="logo">
                                <input type="email" id="email" name="email">
                            </label>
                            
                        </div>
                        <div class="file_upload">
                            <label for="file">File:</label>
                            <input type="file" id="file" name="file">
                        </div>
                        <div class="submit_button">
                            <input type="submit" value="upload">
                        </div>
                    </div>
                </section>
                <section class="right">
                    <div>
                        <img src="{% static 'images/home.jpg'%}" alt="">
                    </div>
                </section>
            </section>
        </section>
    </body>
</html>
