<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>
            <div class="logo">
                <img src="{% static 'images/contacts.png'%}" alt="logo">
            </div>
            Contacts
        </h1>
        <div class="search">
            <form action="">
            {% csrf_token %}
                <div>
                    <img src="{% static 'images/search.png'%}" alt="">
                    <input type="text" name="search" id="search" placeholder="search">
                </div>
            </form>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'web:index' %}">Upload Another File</a></li>
            </ul>
            <div>
                <ul>
                    <li>
                        <a href="">
                            <img src="{% static 'images/profile.jpg'%}"  title="profile"  alt="profile image">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section id="contact">
        <div class="contact_table">
            <h1>Contacts (102)</h1>
            <div class="heading">
                <ul class="head">
                    <li>
                        <a href="">name</a>
                    </li>
                    <li>
                        <a href="">email</a>
                    </li>
                    
                </ul>
                <div class="line"></div>
                {% for user in users %}
                <ul class="contact-info" data-contact-id="{{ user.id }}">
                    <li>
                        <div>
                            <img src="{% static 'images/profile.jpg'%}" alt="">
                            <a href="">{{user.name}}</a>
                        </div>
                        
                    </li>
                    <li>
                        <a href="">{{user.email}}</a>
                    </li>
                    <li class="none" style="display: none;">
                        <a href="">{{user.phone}}</a>
                    </li>
                    <a href="{% url 'web:set_delete' user.id %}">
                        <!-- <img src="{% static 'images/delete.png'%}" alt=""> -->
                    </a>
                </ul>
                {% endfor %}
            </div>
        </div>
        <section id="right_side">
            <!-- Start of changes -->
            <div id="selected_user_details" style="display: none;">
                <div class="profile">
                    <img src="{% static 'images/profile.jpg'%}" alt="profile" id="profile_image">
                </div>
                <h2 id="selected_user_name"></h2>
                
                <div class="info">
                    <h3>Contact info :</h3>
                    <div class="phone_number">
                        <div class="Phone_icon">
                            <a href="#">
                                <img src="{% static 'images/call.png'%}" alt="">
                            </a>
                           <h5 id="selected_user_phone"></h5>
                           <div class="message_icon">
                                <a href="#">
                                     <img src="{% static 'images/message.png'%}" alt="">
                                </a>
                           </div>
                        </div>
                    </div>
                    <div class="email">
                        <div class="emial_icon">
                            <a href="#">
                                <img src="{% static 'images/email2.png'%}" alt="">
                            </a>
                           <h5 id="selected_user_email"></h5>
                           <div class="mail_icon">
                                <a href="#">
                                     <img src="{% static 'images/send_mail.png'%}" alt="">
                                </a>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of changes -->
        </section>
    </section>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>