<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>
            <div class="logo">
                <img src="{% static 'images/contacts.png'%}" alt="logo">
            </div>
            Contacts
        </h1>
        <div class="search">
            <div>
                <img src="{% static 'images/search.png'%}" alt="">
                <input type="text" name="search" id="search" placeholder="search">
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">All Contacts</a></li>
            </ul>
            <div>
                <ul>
                    <li>
                        <a href="">
                            <img src="{% static 'images/profile.jpg'%}" alt="profile">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section id="contact">
        <div class="contact_table">
            <h1>Contacts (102)</h1>
            <div class="heading">
                <ul class="head">
                    <li>
                        <a href="">name</a>
                    </li>
                    <li>
                        <a href="">email</a>
                    </li>
                    
                </ul>
                <div class="line"></div>
                <ul>
                    <li>
                        <div>
                            <img src="{% static 'images/profile.jpg'%}" alt="">
                            <a href="">raseen</a>
                        </div>
                        
                    </li>
                    <li>
                        <a href="">raseen404@gmail.com</a>
                    </li>
                    <a href="#">
                        <img src="{% static 'images/call.png'%}" alt="">
                    </a>
                </ul>
                <ul>
                    <li>
                        <div>
                            <img src="{% static 'images/profile.jpg'%}" alt="">
                            <a href="">raseen</a>
                        </div>
                        
                    </li>
                    <li>
                        <a href="">raseen404@gmail.com</a>
                    </li>
                    <a href="#">
                        <img src="{% static 'images/call.png'%}" alt="">
                    </a>
                </ul>
                <ul>
                    <li>
                        <div>
                            <img src="{% static 'images/profile.jpg'%}" alt="">
                            <a href="">raseen</a>
                        </div>
                        
                    </li>
                    <li>
                        <a href="">raseen404@gmail.com</a>
                    </li>
                    <a href="#">
                        <img src="{% static 'images/call.png'%}" alt="">
                    </a>
                </ul>
                <ul>
                    <li>
                        <div>
                            <img src="{% static 'images/profile.jpg'%}" alt="">
                            <a href="">raseen</a>
                        </div>
                        
                    </li>
                    <li>
                        <a href="">raseen404@gmail.com</a>
                    </li>
                    <a href="#">
                        <img src="{% static 'images/call.png'%}" alt="">
                    </a>
                </ul>
                <ul>
                    <li>
                        <div>
                            <img src="{% static 'images/profile.jpg'%}" alt="">
                            <a href="">raseen</a>
                        </div>
                        
                    </li>
                    <li>
                        <a href="">raseen404@gmail.com</a>
                    </li>
                    <a href="#">
                        <img src="{% static 'images/call.png'%}" alt="">
                    </a>
                </ul>
                <ul>
                    <li>
                        <div>
                            <img src="{% static 'images/profile.jpg'%}" alt="">
                            <a href="">raseen</a>
                        </div>
                        
                    </li>
                    <li>
                        <a href="">raseen404@gmail.com</a>
                    </li>
                    <a href="#">
                        <img src="{% static 'images/call.png'%}" alt="">
                    </a>
                </ul>
                <ul>
                    <li>
                        <div>
                            <img src="{% static 'images/profile.jpg'%}" alt="">
                            <a href="">raseen</a>
                        </div>
                        
                    </li>
                    <li>
                        <a href="">raseen404@gmail.com</a>
                    </li>
                    <a href="#">
                        <img src="{% static 'images/call.png'%}" alt="">
                    </a>
                </ul>
                <ul>
                    <li>
                        <div>
                            <img src="{% static 'images/profile.jpg'%}" alt="">
                            <a href="">raseen</a>
                        </div>
                        
                    </li>
                    <li>
                        <a href="">raseen404@gmail.com</a>
                    </li>
                    <a href="#">
                        <img src="{% static 'images/call.png'%}" alt="">
                    </a>
                </ul>
            </div>
        </div>
        <section id="right_side">
            <div class="profile">
                <img src="{% static 'images/profile.jpg'%}" alt="profile">
            </div>
            <h2>Arshad raseen</h2>
            
            <div class="info">
                <h3>Contact info :</h3>
                <div class="phone_number">
                    <div class="Phone_icon">
                        <a href="#">
                            <img src="{% static 'images/call.png'%}" alt="">
                        </a>
                       <h5>+ 91 7907798919</h5>
                       <div class="message_icon">
                            <a href="#">
                                 <img src="{% static 'images/message.png'%}" alt="">
                            </a>
                       </div>
                    </div>
                </div>
                <div class="email">
                    <div class="emial_icon">
                        <a href="#">
                            <img src="{% static 'images/email2.png'%}" alt="">
                        </a>
                       <h5>raseen404@gmail.com</h5>
                       <div class="mail_icon">
                            <a href="#">
                                 <img src="{% static 'images/send_mail.png'%}" alt="">
                            </a>
                       </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>
</html>